<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Calculadora da AI</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		integrity="sha384-ho72S2l26ePvNQ8k3uLpysJ2cuRXHzxj2wvw4Hkz6Ay6zxygeU8U3cd5X51btFFq" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/style.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<header class="app-header">
			<div class="app-header-logo">
				<div class="logo">
					<span class="logo-icon">
						<img src="https://assets.codepen.io/285131/almeria-logo.svg" />
					</span>
					<h1 class="logo-title">
						<span>João</span>
						<span>AIMG</span>
					</h1>
				</div>
			</div>

			<div class="app-header-mobile">
				<button class="icon-button large">
					<i class="ph-list"></i>
				</button>
			</div>

		</header>

		<script>
			function exportarWord(index) {
				// Envia uma requisição para o servidor para exportar os dados dessa pessoa
				fetch(`/exportar_word/${index}`, { method: 'GET' })
					.then(response => response.blob())
					.then(blob => {
						// Cria um link para fazer o download do arquivo
						const url = window.URL.createObjectURL(new Blob([blob]));
						const a = document.createElement('a');
						a.href = url;
						a.download = `relatorio_pessoa_${index}.docx`;
						document.body.appendChild(a);
						a.click();
						document.body.removeChild(a);
						window.URL.revokeObjectURL(url);
					})
					.catch(error => console.error('Erro ao exportar para Word:', error));
			}
			function gerarPDF() {
				// Redirecionar para a rota que gera o PDF
				window.location.href = "{{ url_for('gerar_pdf') }}";
			}
			function exportarParaExcel() {
				// Redireciona para a rota que exporta para Excel
				window.location.href = "{{ url_for('exportar_excel') }}";
			}
			// Função para redirecionar para a página inserir.html
			function apagarTodasInformacoes() {
				var confirmacao = confirm("Tem certeza de que deseja apagar todas as informações?");
				// Se o usuário confirmar, redirecionar para a página de apagar
				if (confirmacao) {
					window.location.href = "{{ url_for('limpar') }}";
				}
			}

			
			function redirectToIndex() {
				window.location.href = "{{ url_for('index') }}";
			}
			function redirectToInserir() {
				window.location.href = "{{ url_for('inserir') }}";
			}
			function redirectToTotal_moedas() {
				window.location.href = "{{ url_for('total_moedas_global') }}";
			}
			function redirectToPessoas() {
				window.location.href = "{{ url_for('listar_pessoas') }}";
			}

		</script>
		<script src='https://unpkg.com/phosphor-icons'></script>
		<script src="./script.js"></script>
		<div class="app-body">
			<div class="app-body-navigation">
				<nav class="navigation">
					<a href="javascript:void(0);" onclick="redirectToIndex()">
						<i class="ph-list"></i>
						<span>Home</span>
					</a>
					<a href="javascript:void(0);" onclick="redirectToInserir()">
						<i class="ph-browsers"></i>
						<span>Inserir pessoa</span>
					</a>

					<a href="javascript:void(0);" onclick="redirectToPessoas()">
						<i class="ph-check-square"></i>
						<span>Pessoas inseridas</span>
					</a>

					<a href="javascript:void(0);" onclick="redirectToTotal_moedas()">
						<i class="ph-swap"></i>
						<span>Total de Passagem</span>
					</a>

				</nav>
				<footer class="footer">
					<h1>Desafio<small>©</small></h1>
					<div>
						AIMG ©<br />
						All Rights Reserved 2023
					</div>
				</footer>
			</div>
			<div class="app-body-main-content">

				</section>
				<section class="recent-people-section">
					<div class="transfer-section-header">
						<h2>Ultimas pessoas inseridas</h2>
					</div>
					<div class="recent-people">
						<br>
						{% for pessoa in pessoas[-4:] %}
						<div class="pessoa-info">
							<h2>{{ pessoa[0] }}, Passagem: R$ {{ pessoa[1] }}</h2>
						
						</div>
						{% endfor %}
					</div>
				</section>
			</div>
			<section class="payment-section">
				<h2>Exportações</h2>
				<div class="payment-section-header">

				</div>
				<section class="payment-section">

					<div class="payments">
						<div class="payment">
							<div class="card green text-center">
								<!-- Adiciona o ícone do Excel usando Font Awesome e ajusta o tamanho -->
								<i class="fas fa-file-excel excel-icon" style="font-size: 700%;"></i>
							</div>
							<div class="payment-details">
								<h3>Excel</h3>
								<div>
									<span>.xlsx</span>
									<button class="icon-button" onclick="exportarParaExcel()">
										<i class="ph-caret-right-bold"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="payment">
							<div class="card olive text-center">
								<i class="fas fa-file-pdf pdf-icon" style="font-size: 700%;"></i>
							</div>
							<div class="payment-details">
								<h3>PDF</h3>
								<div>
									<span>.pdf </span>
									<button class="icon-button" onclick="gerarPDF()">
										<i class="ph-caret-right-bold"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="payment">
							<div class="card gray">
								<i class="fas fa-file-word word-icon" style="font-size: 700%;"></i>
							</div>
							<div class="payment-details">
								<h3>Word</h3>
								<div>
									<span>.docx</span>
									<form method="get" action="{{ url_for('exportar_word') }}">
										<button class="icon-button">
											<i class="ph-caret-right-bold"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="payment-section-footer">
						<button class="save-button" onclick="apagarTodasInformacoes()">
							<i class="ph-trash-bold"></i>
						</button>

					</div>
				</section>
		</div>


		<!-- partial -->
		<script src='https://unpkg.com/phosphor-icons'></script>
		<script src="./script.js"></script>

</body>

</html>